$media-medium: 720px;
$media-large: 960px; 

:root {
  --comment-form-text-shadow: 1px 1px 1px rgba(78, 32, 116, 0.5);
  --comment-form-text-color: rgb(60, 35, 129);

  --linear-gradient: linear-gradient(to right, rgba(109, 9, 139, 0.37), rgb(169, 150, 201));
  --button-gradient: radial-gradient(#8051be, #693aa7, #30016d);  
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

a:hover {
  text-shadow: 1px 1px 1px rgb(76, 41, 109);
  color: rgb(176, 153, 238);
}

body {
  font-family: 'Exo 2';
  line-height: 1.5;
}


h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-image: var(--linear-gradient);
  height: 50px;
  margin-bottom: 10px;
  width: 100%;
}

input {
  padding-left: 1rem;
  font-family: 'Exo 2';
  font-weight: 600;
}

textarea {
  font-family: 'Exo 2';
  font-weight: 600;
}

fieldset {
  border: 1px solid rgba(60, 35, 129, 0.274);
  margin-left: 10px;
  margin-right: 10px;
}

.highlight {
  padding: 10px;
  overflow: auto;
  font-family: 'Courier';
}

code {
  font-size: 1.4rem;
}
