.c-article {

  &__image {
    width: 100%;
    margin: 0 auto;
    padding-right: 1.5rem;
    padding-bottom: 5px;
    margin-top: 8px;
  }

  &__container {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    padding: 10px 0 20px 0;
    font-family: "Quicksand";
    min-height: 80vh;
  }

  &__body {
    position: relative; 
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
 
  &__heading {
    font-size: 1.8rem;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid grey;
    max-width: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (min-width: $media-medium) {
  .c-article {
    
    &__image {
      width: 50%;
      float: left;
    }

    &__body {
      margin-bottom: 4rem;
    }

    &__header {
      height: 75px;
    }
  }
}