.c-contact-page {
  text-align: center;
  margin: 0 auto;

  &__form-container {
    width: 100%;
    text-align: left;
    margin: 0 auto;
  }

  &__image {
    width: 95%;
    margin-top: 10px;
  }
}

@media only screen and (min-width: $media-medium) {
  .c-contact-page {

    &__image {
      width: 75%;

    }
  }
}

@media only screen and (min-width: $media-large) {
  .c-contact-page {
    min-height: 75vh;
    display: flex;
    margin: 20px;
    border: 1px solid rgb(197, 195, 195);
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(230, 217, 250, 0.24);
  
    &__image {
      height: 560px;
      width: 50%;
    }

  }
}
