.c-contact-page {
  text-align: center;
  margin: 0 auto;

  &__form-container {
    width: 100%;
    text-align: left;
    margin: 0 auto;
  }

  &__image {
    width: 95%;
    margin-top: 10px;
  }

  &__submitted {
    width: 250px;
    margin: 0 auto;
    color:white;
    border-radius: 5px;
    background: rgb(72, 65, 95);
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 1px 4px rgb(198, 198, 199);
  }

  &__failed {
    width: 250px;
    margin: 0 auto;
    color:white;
    border-radius: 5px;
    background: rgb(136, 40, 40);
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 1px 4px rgb(198, 198, 199);
  }
}

@media only screen and (min-width: $media-medium) {
  .c-contact-page {

    &__form-container {
      width: 80%;
    }

    &__image {
      width: 77%;
    }
  }
}

@media only screen and (min-width: $media-large) {
  .c-contact-page {
    min-height: 75vh;
    display: flex;
    margin: 20px;
    border: 1px solid rgb(197, 195, 195);
    padding: 20px;
    background-color: rgba(206, 204, 207, 0.185);
  
    &__image {
      height: 560px;
      width: 50%;
    }

  }
}
