.c-comments-container {
  display: grid;
  grid-gap: 10px;
  border-top: 1px solid grey;
  padding-top: 10px;
  width: 100%;
  
  &__comment {
    display: grid;
    grid-template-columns: 50px 65px 1fr 90px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.226);
    border-top: 1px solid rgba(128, 128, 128, 0.226);
    padding-bottom: 5px;
    padding-top: 5px;
    grid-column-gap: 5px;
    font-size: 0.8rem;
  }

  &__comment-body {
    padding-left: 5px;
  }

  &__comment-avatar {
    border: 1px solid rgba(128, 128, 128, 0.356);
    max-height: 50px;
    min-height: 50px;
  }

  &__comment-name {
    color: rgb(60, 35, 129);
    text-shadow: 1px 1px 1px rgba(78, 32, 116, 0.5);
    overflow-wrap: break-word; 
  }

  &__comment-created {
    text-align: right;
    text-shadow: 1px 1px 1px rgba(78, 32, 116, 0.5);
    color: rgb(60, 35, 129);
  }

  &__comment-counter {
    text-shadow: 1px 1px 1px rgba(109, 109, 109, 0.5);
    font-size: 1.1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.356);
    padding-bottom: 10px;
    
  }

  &__login {
    background: var(--button-gradient);
    width: 150px;
    height: 28px;
    padding: 1px;
    border-radius: 5px;
    font-size: 0.95em;
    text-align: center;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
      box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
      text-shadow: 2px 2px 2px black;
      color: white;
    }
  }
}