.c-footer {
  bottom: 0;
  grid-gap: 10px 10px;
  text-align: center;
  background-color: rgb(72, 65, 95);
  
  &__nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 95%;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }

  &__navitem {
    font-size: 0.9rem;
    padding: 0.6rem;
  }

  &__copyright {
    font-size: 0.9em;
    color: white;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
  }

  &__socialmedia {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 95%;
    padding-top: 0.2rem;
  }
}
  
@media only screen and (min-width: $media-medium) {
  .c-footer {

    &__nav {
      width: 85%;
    }

    &__navitem {
      font-size: 1.2rem;
      padding: 1px;
      margin-top: 5px;
    }

    &__socialmedia {
      max-width: 50%;
      justify-content: space-around;
    }
  }
}

@media only screen and (min-width: $media-large) {
  .c-footer {

    &__nav {
      width: 70%;
    }
  }
}