
.c-header {
  position: relative;
  height: 250px;
  min-width: 100%;
  background: linear-gradient(to bottom right, rgb(192, 192, 192), rgba(117, 101, 145, 0.4)), url('/static/images/head.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  text-align: center;
}

@media only screen and (min-width: $media-medium) {
  .c-header {
    height: 350px;
  }
}

@media only screen and (min-width: $media-large) {
  .c-header {
    height: 90vh;
  }
}