.c-mc-signup {
  font-weight: bold;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  bottom: 0;
  height: 40px;

  &__validate {
    display: flex;
    justify-content: center;
    align-self: center;
  }

  &__email {
    font-family: 'Exo 2';
    font-size: 0.85rem;
    font-weight: bold;
    border: 1px solid grey;
    height: 21px;
    width: 205px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px 0 0 5px;
    padding-bottom: 0.2rem;
  }

  &__button {
    background-color: rgba(79, 3, 109, 0.253);
    font-family: 'Exo 2';
    color: white;
    height: 27px;
    font-size: 0.85rem;
    border: 1px solid grey;
    border-left: 0px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }


  &__button:hover {
    background-color: rgb(19, 139, 65);
  }
}

@media only screen and (min-width: $media-medium) {
  .c-mc-signup {
    bottom: 20px;

    &__email {
      width:390px;
      height: 26px;
    }

    &__button {
      height: 32px;
    }
  }
}

@media only screen and (min-width: $media-large) {
  .c-mc-signup {
    bottom: 30px;
  }
}
