.c-socialmedialogos  {
  max-height: 32px;
  filter: grayscale(100%);

    &__git {
      filter:invert(50%);
    }

    &:hover {
      filter:none; 
    }
  }

  @media only screen and (min-width: $media-medium) {
    .c-socialmedialogos {
      max-height: 40px;
    }
  }  